* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray-900: #121214;
    --gray-300: #444448;

    --primary-200: #fcd085;
    --primary-400: #ffbc48;
}

body {
    background-color: var(--gray-900);
    font-size: 16px;
    font-family: sans-serif;
}

header {
    max-width: 40rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

header h1 {
    font-size: 30px;
    color: white;
}

header input {
    padding: 16px 18px;
    font-size: 16px;
    margin-top: 24px;
    border-radius: 8px;
    border: none;
    background-color: #444448;
    color: aqua;
    width: 100%;
}

.input-wrapper {
    width: 100%;
    position: relative;
}

.input-wrapper i {
    color: white;
    position: absolute;
    right: 16px;
    bottom: 16px;
}

main {
    width: 46rem;
    padding-inline: 24px;
    margin: 30px auto;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
    list-style: none;
}

.header {
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: auto 2px;
}

.header i {
    color: black;
    font-size: 28px;
    padding: 0.4rem;
    border-radius: 50%;
    background-color: var(--primary-400);
}

li {
    flex: 1;
    background-color: var(--gray-300);
    border-radius: 8px;
    padding: 18px;
    transition: all .2s;
}

li p {
    font-weight: lighter;
    color: gray;
    margin: 16px 0;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

li a:hover {
    color: var(--primary-400);
}

ul:has(li:hover) li:not(:hover) {
    opacity: .6;
    scale: .98;
}

@media (max-width: 36rem) {
    ul {
        grid-template-columns: 1fr;
    }
}